<!doctype html>

<html lang=en>

<head>
<link href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABGUlEQVQ4T+2TPU7DMBTHn1PbCAmJgYEjMFRiqYTEEWgSjsEJYpcjtE6vwkLqcgQWWJA6sLB0ZkNCenZiXpBatShDpGRACO/v5//Hewx6fqxnHvwDuyf6hzNULgkAFeRiueeyk+UamotFn8CUgEU7oMbrsmI+wvcKDk4ERBBgtqMmBIi0T8rWCjUmwcgFy/BqNZcPwyZ7yo1JYcsMtU9Lw4vBLcarqbTDCeXVSWHmY5xzKzXGL0ba858Kb8JIHPtTbFQ4cWmoKKPdPLSPPw23hxrTZyOLkfJUAN8vQNHc3dnrhXM+rNdvT/WdfTeUkR3GCMjttjFVjj/ywfKIPnucieJyk+nmOGsYo2aA6jLyfjvXaQ+bLv/3A78Aj8WFFetehj8AAAAASUVORK5CYII=' rel=icon>

<title>Forth.ml</title>

<meta charset=utf-8>
<meta name=Description content="Engineering as art.">
<meta name=viewport content="width=device-width,initial-scale=1">

<style>
body { 	overflow-y:scroll; font:16px monospace,monospace }
pre { margin:0;overflow-x:hidden }
.t { text-decoration:none }
@media(max-width:999px) { body { font-size:1.94vw } }
@media(prefers-color-scheme:dark) { body { background:#000; color:#fff } a { color:#CCC } #l { color:#DDD } }
img,#b { max-width:80ch }
span { display:inline-block }
</style>
<div style="display:table;margin:16px auto" id=a><div id=b>
</head>

<body>
<pre>
<a href=/ style="text-decoration:none;color:#27BC59">
█▀ ▄▀▄ █▀▄ ▀█▀ █▄█   █▄ ▄█ █
█▀ ▀▄▀ █▀▄  █  █ █ ▄ █ ▀ █ █▄▄
</a>

@/<a href="https://github.com/173duprot">github</a>
@/<a href=/resume.html>resume</a>
@/<a href=/contact.html>contact</a>

