<!doctype html>

<html lang=en>

<head>
<link href='data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAABaElEQVQ4T41Tu07DQBCcNSiOk5iSFpLQ8xUOEo8gUcQ/gmiR+BAKhBAxElQU4G8xIEoaJBBxFGwv8t7FucOAuOq03tmZnRsTfjn9OOT5pyQY009ttWL/PmRY1XKGKnwfYrUJm/QuAEBZIg1nJEFUYapLPx6xNBngl4NbYV293rZUzxUIeC7V5EuCMVY8H2/pu7D24hCminJAHcxAMojg+21hOzz+EFB5zjZDtZXen3pxyEq72u1hMAaY0G41cXSS6lZWCFYD1GFYYMNVeK0m0slUwN3TLXxSA87rBFm3A6/jCtwAA0vkIOcCRVrgcXhVsa1fDpEva21EaPievIjaWQLBcMhBwWq/fMp42ovk3j3fR+Yx8rKbCF6nKW9uGGZ6rSzKZjM879xg7WIXueuAHQIRwW25SAYarNhHOiDamVKUnRWRKqbquFoJ27gLWazXTVbQtMdmROvZ1vsv0rYQ8Ge2zQz+56/6At9snar0ciI7AAAAAElFTkSuQmCC' rel=icon>

<title>High On Linux</title>

<meta charset=utf-8>
<meta name=Description content="Simple, Minimal, FOSS wiki targeting power-users.">
<meta name=viewport content="width=device-width,initial-scale=1">

<style>
body
{
    max-width:80ch;

    color:#fff;
    background:#000;
    font:16px monospace;
}

a
{
    color:#6CF
}
</style>
</head>

<body>
<pre>

<a href=/ style="text-decoration:none;color:#27BC59">
    ████
  ███  ███     ██  ██         ██                   ██
████     ███   ██████ ██ ████ ██████   ████ ████   ██   ██ ████ ██ █ ██ █
███    █████   ██  ██ ██ ████ ██  ██   ████ ██ █   ████ ██ ██ █ ████  ██ █
  ███  ███                 ██
    ████                 ████
</a>

@/<a href=/wiki>wiki</a>
@/<a href=/wiki/posts>posts</a>
@/<a href=/donate>donate</a>
@/<a href=/contact>contact</a>
________________________________________________________________________________

